.footer {
    background: #2D2D2D;
    color: #FFFFFF;
    padding-inline: 16px;
}
.footer-content {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 1280px;
}

.icons {
    display: flex;
    gap: 20px;
}

.footer-info p {
    text-align: end;
}

@media (max-width: 492px) {
    .footer-content {
        flex-direction: column;
        height: 120px;
    }
}